snippet t "Tag"
	<${1:p}>
		$0
	</$1>

snippet ta "Tag with Attributes"
	<${1:p} $2>
		$0
	</$1>

snippet i "Inline tag"
	<$1>$0</$1>

snippet ia "Inline Tag with Attributes"
	<${1:a} $2>$0</$1>

snippet sc "Self-closing tag"
	<$1 />
